.title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.list {
  gap: 32px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
